{% extends "base.html" %}
{% block content %}
    <h2>View All Members</h2>
    <section>
        <table class="show_all">
            <thead>
                <tr>
                    <th>First name</th>
                    <th>Last name</th>
                    <th>Membership No,</th>
                </tr>
            </thead>
            <tbody>
                {% for member in members %}
                    <tr>
                        <td>{{ member.first_name}}</td>
                        <td>{{ member.last_name}}</td>
                        <td>{{ member.membership_num }}</td>
                    </tr>
                    <tr>
                        <td  colspan="3">
                            <a class="sub" href="/members/{{ member.id }}/show">View member details...</a>
                            <a class="sub" href="/members/{{ member.id }}/bookings">View class bookings...</a>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </section>
{% endblock %}