{% extends "base.html" %}
    {% block content %}
    <h2>Add New Member</h2>
    <p>To add a new member to the system, please enter the following details:</p>
    <p>{{message}}</p>
    <section class="form_container">
        <section class="form">
            <form action="/members" method="POST">
                    <label for="first_name">First Name:</label>
                    <br>
                    <input type="text" 
                        name="first_name"
                        id="first_name" 
                        placeholder="First Name..." 
                        required 
                        autofocus>
                    <br>
                    <label for="last_name">Last Name:</label>
                    <br>
                    <input type="text" 
                        name="last_name"
                        id="last_name" 
                        placeholder="Last Name..." 
                        required>
                    <br>
                    <label for="date_of_birth">D.o.B.:</label>
                    <br>
                    <input type="date" 
                        name="date_of_birth"
                        id="date_of_birth" 
                        required>
                    <br>
                    <label for="membership_num">Membership No.:</label>
                    <br>
                    <input type="number" 
                        name="membership_num"
                        id="membership_num" 
                        placeholder="" 
                        required>
                <input type="submit" value="Add New Member">
            </form>
        </section>
        <img src={{ url_for('static', filename='images/woman_situps.jpeg') }} alt="Member doing sit-ups" width="325px" height="250px">
    </section>
{% endblock %}