{% extends "base.html" %}
    {% block content %}
    <h2>Members Booked In for {{fitness_class.title}}</h2>
    <p>The following members have booked a slot in the {{fitness_class.title}} class:</p>
    <section>
    <ul class="list_members">
        {% for member in members %}
            <li class="row">  
                <ul>
                    <li>Name. {{ member.full_name()}}</li>
                    <li>Membership No: {{ member.membership_num}}</li>
                </ul>
            </li>
        {% endfor %}
    </ul>
</section>
{% endblock %}