{% extends "base.html" %}
    {% block content %}
    <h2>Edit {{fitness_class.title}}</h2>
    <p>To edit the details of our {{fitness_class.title}} class, please use the following form:</p>
    <p>{{message}}</p>
        <section>
            <form action="/classes/{{ fitness_class.id }}" method="POST">
                    <label for="title">Title:</label><br>
                    <input type="text" 
                        name="title"
                        id="title" 
                        value="{{ fitness_class.title }}"
                        required 
                        autofocus>
                    <br>
                    <label for="type">Type:</label><br>
                    <select name="type" id="type">
                        {% for class_type in class_types %}
                            {% if fitness_class.type == class_type.class_type %}
                                <option value="{{class_type.class_type}}" selected>{{class_type.class_type}}</option>
                            {% else %}
                                <option value="{{class_type.class_type}}">{{class_type.class_type}}</option>
                            {% endif %}
                        {% endfor %}
                    </select>
                    <br>
                    <label for="duration">Duration:</label><br>
                    <input type="number" 
                        name="duration"
                        id="duration" 
                        value="{{fitness_class.duration}}"
                        required>
                    <label for="discription">Discription:</label><br>
                    <textarea rows="5"
                        name="discription"
                        id="discription" 
                        required>{{fitness_class.discription}}</textarea>
                <input type="submit" value="Save Changes">
            </form>
        </section>
{% endblock %}