{% extends "base.html" %}
    {% block content %}
    <h2>Edit {{fitness_class.title}}</h2>
    <p>To edit the details of our {{fitness_class.title}} class, please use the following form:</p>
    <p>{{message}}</p>
        <section>
            <form action="/classes/{{ fitness_class.id }}" method="POST">
                    <label for="title">Title:</label><br>
                    <input type="text" 
                        name="title"
                        id="title" 
                        value="{{ fitness_class.title }}"
                        required 
                        autofocus>
                    <br>
                    <label for="type">Type:</label><br>
                    <select name="type" id="type">
                        {% if fitness_class.type == "Cardio" %}
                            <option value="Cardio" selected>Cardio</option>
                        {% else %}
                            <option value="Cardio">Cardio</option>
                        {% endif %}
                        {% if fitness_class.type == "Gym Floor" %}
                            <option value="Gym Floor" selected>Gym Floor</option>
                        {% else %}
                            <option value="Gym Floor">Gym Floor</option>
                        {% endif %}
                        {% if fitness_class.type == "HIIT" %}
                            <option value="HIIT" selected>HIIT</option>
                        {% else %}
                            <option value="HIIT">HIIT</option>
                        {% endif %}
                        {% if fitness_class.type == "LIIT" %}
                            <option value="LITT" selected>LIIT</option>
                        {% else %}
                            <option value="LITT">LIIT</option>
                        {% endif %}
                        {% if fitness_class.type == "Conditioning" %}
                        <option value="Conditioning" selected>Conditioning</option>
                        {% else %}
                            <option value="Conditioning">Conditioning</option>
                        {% endif %}
                    </select>
                    <br>
                    <label for="duration">Duration:</label><br>
                    <input type="number" 
                        name="duration"
                        id="duration" 
                        value="{{fitness_class.duration}}"
                        required>
                    <label for="discription">Discription:</label><br>
                    <textarea rows="5"
                        name="discription"
                        id="discription" 
                        required>{{fitness_class.discription}}
                    </textarea>
                <input type="submit" value="Save Changes">
            </form>
        </section>
{% endblock %}