{% extends "base.html" %}
    {% block content %}
    <h2>Add New Fitness Class</h2>
    <p>To add a new class to the system, please enter the following details:</p>
    <p>{{message}}</p>
        <section class="form_container">
            <section class="form">
            <form action="/classes" method="POST">
                <label for="title">Title:</label><br>
                <input type="text" 
                    name="title"
                    id="title" 
                    placeholder="Title..." 
                    required 
                    autofocus>
                <br>
                <label for="type">Type:</label>
                <br>
                <select name="type" id="type">
                    <option value="Cardio">Cardio</option>
                    <option value="Gym Floor">Gym Floor</option>
                    <option value="HIIT">HIIT</option>
                    <option value="LITT">LIIT</option>
                    <option value="Conditioning">Conditioning</option>
                </select>
                <br>
                <label for="duration">Duration (in mins.):</label><br>
                <input type="number" 
                    name="duration"
                    id="duration" 
                    required>
                <label for="discription">Discription:</label><br>
                <textarea rows="5"
                    name="discription"
                    id="discription" 
                    placeholder="Class discription..." 
                    required>
                </textarea>
                <input type="submit" value="Add New Class">
            </form>
        </section>
        <img src={{ url_for('static', filename='images/spin class.jpeg') }} alt="Spin Bike Class" width="325px" height="250px">
    </section>
{% endblock %}