{% extends "base.html" %}
{% block content %}
<h2>Fitness Class Booking for {{member.full_name()}}</h2>
<p>Please select Fitness Class...</p>
<section>
    <table class="show_all">

            {% for fitness_class in fitness_classes %}
            <tr>
                <td> {{ fitness_class.title}} </td>
                <td>
                    <form action="/members/{{ member.id }}/bookings/" method="POST">
                        <input type="hidden" name="fitness_class" id="fitness_class" value="{{ fitness_class.id }}">
                        <input type="submit" value="Book Class">
                    </form>
                </td>

                </ul>
            </li>
                    {% endfor %}
        </ul>


</section>
{% endblock %}