body {
    background-color: #ffffff;
    font-family: Arial, Helvetica, sans-serif;
}

body > header > nav {
    width: 102%;
    background-color: #A5AE9E;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: -10px;
    margin-right: 50px;
    margin-left: -10px;
    border: 1px solid #bbb;
}

nav > ul.menu  {
    list-style-type: none;
    margin: 0;
    margin-left: 25px;
    padding: 0;
    display: flex;
    justify-content: space-between;
}

nav > ul.menu > li {
    display: block;
    border-left: 2px solid #D0DDD7;
    transform: skewX(-15deg);
}

nav > ul.menu > li > a {
    display: block;
    text-align: center;
    padding: 24px 20px;
    text-decoration: none;
    border-style: none;
    background-color:  #7E846B;
    border-radius: 0;
}

nav > ul.sub_menu  {
    list-style-type: none;
    margin: 0;
    margin-left: 25px;
    padding: 0;
    display: flex;
    justify-content: flex-end;
}

nav > ul.menu > li > a.sub {
    display: block;
    padding: 5px 5px;
    text-decoration: none;
    border-style: none;
    background-color:  #7E846B;
}

nav > ul.menu > li > a:visited {
    color: #D0DDD7;
}

nav > ul.menu > li > a:hover, a:active, a:focus {
    background-color: #A5AE9E;
    color: #2F2504;
}

li {
    list-style-type: none;
}

li.row:nth-child(even) {
    background-color: #D0DDD7;
    color: #2F2504;
}

li.row:nth-child(odd) {
    background-color: #A5AE9E;
    color: #2F2504;
}

ul.list_classes {
    padding: 0;
    margin: 0;
}

li.fitness_class {
    display: flex;
    font-size: 14pt;
    justify-content: space-between;
    margin: 0;
}

li.fitness_class button {
    margin-right: 30px;
}

ul.list_members {
    padding: 0;
    margin: 0;
}


.row {
    padding: 10px 0 10px 0;
    margin: 0;
}

section.form_container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: auto;
    width: 75%;
    /* border: 1px solid #594E36; */
}

section.form {
    flex-grow: 2;
    width: 100%;
    border: none;
}

section {
    margin: auto;
    width: 75%;
    border: 1px solid #594E36;
}

section > img {
    flex-grow: 1;
}

section.form > form {
    margin-left: 15px;
    margin-right: 20px;
    width: 95%;
}

/* Input forms */

input[type=text], input[type=date], input[type=number], select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
  }

textarea {
    box-sizing: border-box;
    width: 100%;
    font-family: Arial, Helvetica, sans-serif;
}

  /* Style the submit button */
input[type=submit] {
    width: 100%;
    background-color:  #7E846B;
    color: #D0DDD7;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }

  input[type=submit]:hover {
    background-color: #A5AE9E;
    color: #2F2504;
  }