body {
    background-color: #D0DDD7;
    font-family: Arial, Helvetica, sans-serif;
}

a, a:link, a:visited {
    border-style: solid;
    border-radius: 30px;
    border-width: 2px;
    border-color: #2f2504;
    padding: 5px;
    background-color: #594e36;
    color: gainsboro;
    text-decoration: none;
}

a:hover, a:active, a:focus {
    background-color: #7e846b;

}

nav {
    width: 102%;
    background-color: #A5AE9E;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: -10px;
    margin-right: 50px;
    margin-left: -10px;
    /* margin-left: 15px; */
    border: 1px solid #bbb;
}

nav > ul.menu  {
    list-style-type: none;
    margin: 0;
    margin-left: 25px;
    padding: 0;
    display: flex;
    justify-content: space-between;
}

nav > ul.menu > li {
    display: block;
    border-left: 2px solid #D0DDD7;
    transform: skewX(-15deg);
}

nav > ul.menu > li > a {
    display: block;
    text-align: center;
    padding: 24px 20px;
    text-decoration: none;
    border-style: none;
    background-color:  #7E846B;
    border-radius: 0;
}

nav > ul.menu > li > a:hover, a:active, a:focus {
    background-color: #A5AE9E;
    color: #2F2504;
}

li {
    list-style-type: none;
}
li.row:nth-child(even) {
    background-color: #a5ae9e;
}

li.row:nth-child(odd) {
    background-color: #7e846b;
    color: #d0ddd7;
}